:root {
  --gray--1: #323234;
  --gray--2: #202023;
  --gray--3: #1a202c; /* has more blue in it */

  --white--1: #ededed;
  --white--2: #f6f0e8;
  --white--3: #f0e7db;
  --white--4: #aca7a3;

  /* ********* */
  /* Dark theme*/
  /* ********* */

  --green: #b3ecbb;
  --green--darker: #6ea275;
  --green--trans: rgba(7, 163, 132, 0.2);
  --green--lighter: #6fd5bc;
  --aqua: #009ec8;

  /* ********* */
  /* Light theme*/
  /* ********* */

  --cyan: #00a987;
  --cyan--darker: #007663;
  --cyan--trans: rgba(0, 169, 135, 0.1);
  --blue: #024d82;
  --darker--blue: #071f31;

  /* ********* */
  /* Theme button toggle */
  /* ********* */

  --light-theme: #ffde82;
  --light-theme--secondary: #bb9655;
  --dark-theme: #9990d0;
  --dark-theme--secondary: #6e5ba0;
}

/* ********* */
/* COLOR CLASSES */
/* ********* */

.dark {
  --bg: var(--gray--2);
  --bg--lighter: var(--gray--1);
  --bg--trans: var(--green--trans);

  --text: var(--white--1);
  --text--secondary: var(--white--4);

  --primary: var(--green);
  --primary--darker: var(--green--darker);

  --accent: var(--green--lighter);
  --accent--darker: var(--aqua);

  --theme-color: var(--light-theme);
  --theme-color--secondary: var(--light-theme--secondary);
}

.light {
  --bg: var(--white--3);
  --bg--lighter: var(--white--2);
  --bg--trans: var(--cyan--trans);

  --text: var(--gray3);
  --text--secondary: var(--gray1);

  --primary: var(--cyan);
  --primary--darker: var(--cyan--darker);

  --accent: var(--blue);
  --accent--darker: var(--darker--blue);

  --theme-color: var(--dark-theme);
  --theme-color--secondary: var(--dark-theme--secondary);
}
