*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* border: 1px solid coral; */
}

img {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.5s ease-in-out;

  position: relative;
}

/* COLORS */

:root {
  --gray1: #323234;
  --gray2: #202023;
  --gray3: #1a202c; /* has more blue in it */

  --white1: #ededed;
  --white2: #f6f0e8;
  --white3: #f0e7db;
  --white4: #aca7a3;

  /* dark */
  --green: #b3ecbb;
  --darker-blue: #056cb1;
  --green-trans: rgba(7, 163, 132, 0.4);

  /* ligh */
  --darker-green: #07a384;
  --green-trans: rgba(7, 163, 132, 0.2);

  /* theme */
  --light-theme: #ffde82;
  --light-theme-secondary: #bb9655;
  --dark-theme: #9990d0;
  --dark-theme-secondary: #6e5ba0;
}

.dark {
  --bg: var(--gray2);
  --bg-lighter: var(--gray1);
  --bg-trans: var(--green-trans);
  --text: var(--white1);
  --text-secondary: var(--white4);
  --primary: var(--green);
  --accent: var(--green);
  --theme-color: var(--light-theme);
  --theme-color-secondary: var(--light-theme-secondary);
}

.light {
  --bg: var(--white3);
  --bg-lighter: var(--white2);
  --text: var(--gray3);
  --text-secondary: var(--gray1);
  --primary: var(--darker-green);
  --accent: var(--darker-green);
  --theme-color: var(--dark-theme);
  --theme-color-secondary: var(--dark-theme-secondary);
}

/* GENERAL */

.bg--secondary-color {
  border-radius: 9px;
  background-color: var(--bg-lighter);
  padding: 0.4rem 2.5rem;
}

.inverse-order {
  order: 1;
}

.margin-btm--big {
  margin-bottom: 16rem;
}

.color--primary {
  color: var(--primary);
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.list {
  list-style: none;
}

.lnk {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
}

.btn {
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 11.2rem;
  margin-bottom: 11.2rem;

  background-color: var(--bg-lighter);
}

.logo {
  width: 3.2rem;
  height: 3.2rem;
}

/* NAV */

.nav__list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.lnk--nav:link,
.lnk--nav:visited {
  font-size: 2rem;
  text-decoration: none;
  padding: 0.2rem 1.2rem;
  border-radius: 9px;
  transition: all 0.4s ease-in-out, color 0.3s ease-in-out;

  position: relative;
}

.lnk--nav:hover,
.lnk--nav:active {
  /* box-shadow: inset 100px 0 0 0 var(--green-trans); */
  color: var(--primary);
}

.lnk--nav:link::before,
.lnk--nav:active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--bg-trans);
  border-radius: 9px;
  transition: all 0.3s ease-in-out;
}

.lnk--nav:hover::before,
.lnk--nav:hover::before {
  width: 100%;
}

/* THEME BUTTON */

.icon--theme {
  width: 2rem;
  height: 2rem;
  color: var(--bg-lighter);
}

.light .icon--theme[name="sunny"] {
  display: none;
}

.light .icon--theme[name="moon"] {
  display: block;
}

.dark .icon--theme[name="moon"] {
  display: none;
}

.dark .icon--theme[name="sunny"] {
  display: block;
}

.btn--nav {
  background-color: var(--theme-color);
  padding: 1.2rem;
  border-radius: 9px;

  transition: all 0.4s ease-in-out;
}

.btn--nav:hover,
.btn--nav:active {
  background-color: var(--theme-color-secondary);
}

/* MAIN */

/* HERO SECTION */

.hero {
  padding: 0 6.4rem;
}

.hero__wrapper {
  display: grid;
  grid-template-columns: 60fr 40fr;
  gap: 6.4rem;
  place-items: center;
}

.hero__img img {
  width: 100%;
}

.hero__content {
}

.hero__tittle {
  display: inline-block;
  font-size: 2.5rem;
  margin-bottom: 0.6rem;
}

.primary--heading {
  font-size: 6.1rem;
  font-weight: bold;
  margin-bottom: 4.8rem;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.secondary--heading {
  display: inline-block;
  font-size: 3.9rem;
  margin-bottom: 6.4rem;

  position: relative;
}

.secondary--heading::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--bg-lighter);

  position: absolute;
  left: 0;
  bottom: 5px;
}

/* work secondary heading */

.skills .secondary--heading::before {
  background-color: var(--bg);
}

.heading--tertiary {
  display: inline-block;
  font-size: 3.1rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
}

.sub-title {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.hero__description {
  color: var(--text-secondary);
  width: 70%;
  font-size: 2rem;
  margin-bottom: 3.2rem;
}

/* BLOB ANIMATION */
.blob {
  visibility: hidden;
  fill: #0091f1;
}

/* SKILLSA SECTION */

.skills {
  padding: 12.8rem 6.4rem;
  background-color: var(--bg-lighter);
}

.skills__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

.skills__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg);
  width: 60%;
  padding: 4.8rem 3.2rem;
  border-radius: 9px;

  transition: transform 0.3s ease-in-out, box-shadow 0.3s linear;
}

.skills__item:hover {
  transform: translateY(-0.8rem);
  box-shadow: 0px 0px 10px var(--bg);
}

.skills__item img {
  width: 15.2rem;
  height: 15.2rem;
  border-radius: 9px;
  margin-bottom: 1.6rem;
}

.skills__item:nth-child(1) {
  place-self: end;
}

.skills__item:nth-child(2) {
  place-self: center;
}

.skills__text {
  color: var(--text-secondary);
  text-align: center;
}

/* WORKS */

.work__item {
  display: grid;
  grid-template-columns: 25fr 75fr;
  gap: 3.2rem;

  margin-bottom: 12.8rem;
}

.work__item:last-child {
  margin-bottom: 0;
}

.work__item--reverse-grid {
  grid-template-columns: 75fr 25fr;
}

.work__img img {
  width: 100%;
}

.work__details {
  padding: 0.8rem;
}

.work__text {
  margin-bottom: 1.6rem;
}

.lnk--full:link,
.lnk--full:visited {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--bg);
  background-color: var(--primary);
  padding: 0.6rem 2.4rem;
  border-radius: 7px;
  margin-right: 1.6rem;

  transition: all 0.3s ease-in-out;
}

.lnk--full:hover,
.lnk--full:active {
  color: var(--primary);
  background-color: var(--bg);
  box-shadow: 0px 0px 0px 0.2rem var(--primary);
}

/* FOOTER */

.footer {
  padding-top: 16rem;
  border-top: 2px solid var(--bg-lighter);
}

.footer__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__title {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 0.8rem;
  letter-spacing: 1px;
}

.footer__subtitle {
  font-size: 6.1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 6.4rem;
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
}

.footer__row-1 {
  background-color: #056cb1;
  place-self: end;
  width: 60%;
}

.footer__row-1 img,
.footer__row-1 a {
  width: 100%;
  height: auto;
}

.footer__row-2 {
  align-self: center;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.lnk--footer:link,
.lnk--footer:visited {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;

  color: var(--primary);
  font-size: 2rem;
  padding: 0.6rem 1.2rem;
  border-radius: 9px;

  transition: all 0.2s ease-in-out;
}

.lnk--footer:hover,
.lnk--footer:active {
  background-color: #07a38446;
}

.icon {
  vertical-align: middle;
}

/* coppyright */

.coppyright {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  text-align: center;
  background-color: var(--bg-lighter);
  color: var(--text-secondary);
  width: 100%;
  padding: 0.8rem 0;

  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
}
