/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 11.2rem;
  margin-bottom: 11.2rem;
  background-color: var(--bg--lighter);
}

.logo {
  height: 3.2rem;
  width: auto;
}

.light .logo,
.light .footer__logo {
  content: url("../resources/logo-light.webp");
}

.sticky .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
}

.sticky .hero {
  margin-top: 16.4rem;
}

/* NAV */

.nav__list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.lnk--nav:link,
.lnk--nav:visited {
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
  padding: 0.2rem 1.2rem;
  border-radius: 9px;
  transition: all 0.4s ease-in-out, color 0.3s ease-in-out;

  position: relative;
}

.lnk--nav:hover,
.lnk--nav:active {
  /* box-shadow: inset 100px 0 0 0 var(--green-trans); */
  color: var(--primary);
}

.lnk--nav:link::before,
.lnk--nav:visited::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--bg--trans);
  border-radius: 9px;
  transition: all 0.3s ease-in-out;
}

.lnk--nav:hover::before,
.lnk--nav:active::before {
  width: 100%;
}

.lnk--header:link,
.lnk--header:visited {
  color: var(--accent);
  position: relative;
}

.lnk--header:hover,
.lnk--header:active {
  color: var(--accent--darker);
}

/* THEME BUTTON */

.icon--theme {
  width: 2rem;
  height: 2rem;
  color: var(--bg--lighter);
}

.light .icon--theme[name="sunny"] {
  display: none;
}

.light .icon--theme[name="moon"] {
  display: block;
}

.dark .icon--theme[name="moon"] {
  display: none;
}

.dark .icon--theme[name="sunny"] {
  display: block;
}

.btn--nav {
  background-color: var(--theme-color);
  padding: 1.2rem;
  border-radius: 9px;

  transition: all 0.4s ease-in-out;
}

.btn--nav:hover,
.btn--nav:active {
  background-color: var(--theme-color--secondary);
}

/* MAIN */

/* HERO SECTION */

.hero {
  padding: 0 6.4rem;
}

.hero__wrapper {
  display: grid;
  grid-template-columns: 60fr 40fr;
  gap: 6.4rem;
  place-items: center;
}

.hero__img img {
  width: 100%;
  display: none;
}

.hero__tittle {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 0.6rem;
}

.sub-title {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.hero__description {
  font-size: 2rem;
  font-weight: 400;
  color: var(--text--secondary);
  width: 70%;
  margin-bottom: 3.2rem;
}

/* BLOB ANIMATION */
.hero__img {
  width: 100%;
}

.blob {
  /* visibility: hidden; */
  width: 100%;
  fill: var(--primary);
}

/* SKILLSA SECTION */

/* work secondary heading */

.skills .secondary--heading::before {
  background-color: var(--bg);
}

.skills {
  padding: 12.8rem 6.4rem;
  background-color: var(--bg--lighter);
}

.skills__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

.skills__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg);
  width: 75%;
  padding: 4.8rem 3.2rem;
  border-radius: 9px;

  transition: transform 0.3s ease-in-out, box-shadow 0.3s linear;
}

.skills__item:hover {
  transform: translateY(-0.8rem);
  box-shadow: 0px 0px 10px var(--bg);
}

.skills__item img {
  width: 15.2rem;
  height: 15.2rem;
  border-radius: 9px;
  margin-bottom: 2rem;
}

/* change img for light theme */

.light .skills__item:nth-child(1) img {
  content: url(../resources/skills/languages_light-theme.svg);
}

.light .skills__item:nth-child(2) img {
  content: url(../resources/skills/tools_light-theme.svg);
}

.light .skills__item:nth-child(3) img {
  content: url(../resources/skills/design_light-theme.svg);
}

/*  */

.skills__item:nth-child(1) {
  place-self: end;
}

.skills__item:nth-child(2) {
  place-self: center;
  height: 100%;
}

.skills__list {
  color: var(--text--secondary);
  font-size: 2rem;
  text-align: center;
}

.skills__list li {
  margin-bottom: 0.4rem;
}

.skills__list li:last-child {
  margin-bottom: 0;
}

/* WORKS */

.work__item {
  display: grid;
  grid-template-columns: 60fr 40fr;
  place-items: center;
  gap: 6.4rem;

  margin-bottom: 19.2rem;
}

.work__item:last-child {
  margin-bottom: 0;
}

.work__item--reverse-grid {
  grid-template-columns: 40fr 60fr;
}

.work__img img {
  width: 100%;
}

.work__details {
  padding: 0.8rem;
}

.work__text {
  color: var(--text--secondary);
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

.lnk--full:link,
.lnk--full:visited {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--bg);
  background-color: var(--primary);
  padding: 0.6rem 2.4rem;
  border-radius: 7px;
  margin-right: 1.6rem;
  transition: background-color 0.1s ease-in-out;

  position: relative;
}

.lnk--full:hover,
.lnk--full:active {
  background-color: transparent;
  color: var(--primary);
}

/* FOOTER */

.footer {
  padding-top: 16rem;
  border-top: 2px solid var(--bg--lighter);
}

.footer__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__title {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 0.8rem;
  letter-spacing: 1px;
}

.footer__subtitle {
  font-size: 6.1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 6.4rem;
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
}

.footer__row-1 {
  place-self: end;
  width: 60%;
}

.footer__row-1 img,
.footer__row-1 a {
  width: 100%;
  height: auto;
}

.footer__row-2 {
  align-self: center;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.lnk--footer:link,
.lnk--footer:visited {
  display: inline-block;

  color: var(--primary);
  font-size: 2rem;
  padding: 0.6rem 1.2rem;
  border-radius: 9px;

  transition: all 0.2s ease-in-out;
  position: relative;
}

.icon--footer {
  vertical-align: middle;
  margin-right: 0.8rem;
}

/* coppyright */

.coppyright {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  text-align: center;
  background-color: var(--bg--lighter);
  color: var(--text--secondary);
  width: 100%;
  padding: 0.8rem 0;

  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
}
