*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* border: 1px solid coral; */
}

img {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.5s ease-in-out, color 1s ease-in-out;
}

/* COLORS */

:root {
  --gray1: #323234;
  --gray2: #202023;
  --gray3: #1a202c; /* has more blue in it */

  --white1: #ededed;
  --white2: #f6f0e8;
  --white3: #9a938b;

  /* #003E43 */
  --blue: #b3ecbb;
  --darker-blue: #056cb1;

  --green: #95f388;
  --darker-green: #07a384;
}

.dark {
  --bg: var(--gray2);
  --bg-lighter: var(--gray1);
  --text: var(--white1);
  --text-secondary: var(--white3);
  --primary: var(--blue);
  --accent: var(--green);
}

.light {
  --bg: var(--white3);
  --bg-lighter: var(--white2);
  --text: var(--gray3);
  --text-secondary: var(--gray1);
  --primary: var(--darker-blue);
  --accent: var(--darker-green);
}

/* GENERAL */

.margin-btm--big {
  margin-bottom: 16rem;
}

.color--primary {
  color: var(--primary);
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.list {
  list-style: none;
}

.lnk {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
}

.btn {
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 11.2rem;
  margin-bottom: 11.2rem;

  background-color: var(--bg-lighter);
}

.logo {
  width: 3.2rem;
  height: 3.2rem;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.lnk--nav {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.btn--nav {
  font-size: 2rem;
  font-weight: bold;
}

/* MAIN */

/* HERO SECTION */

.hero {
  padding: 0 6.4rem;
}

.hero__wrapper {
  display: grid;
  grid-template-columns: 60fr 40fr;
  gap: 6.4rem;
  place-items: center;
}

.hero__img img {
  width: 100%;
}

.hero__content {
}

.hero__tittle {
  display: inline-block;
  font-size: 2.5rem;
  padding: 0.4rem 2.5rem;
  margin-bottom: 0.6rem;
  border-radius: 9px;
  background-color: var(--bg-lighter);
}

.primary--heading {
  font-size: 6.1rem;
  font-weight: bold;
  margin-bottom: 4.8rem;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.secondary--heading {
  display: inline-block;
  font-size: 3.9rem;
  margin-bottom: 6.4rem;

  position: relative;
}

.secondary--heading::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--text-secondary);

  position: absolute;
  left: 0;
  bottom: 5px;
}

.sub-title {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.hero__description {
  color: var(--text-secondary);
  width: 70%;
  font-size: 2rem;
  margin-bottom: 3.2rem;
}

/* BLOB ANIMATION */
.blob {
  visibility: hidden;
  fill: #0091f1;
}

/* SKILLSA SECTION */

.skills {
  padding: 12.8rem 6.4rem;
  background-color: var(--bg-lighter);
}

.heading--tertiary {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
}

.skills__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

.skills__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg);
  width: 60%;
  padding: 4.8rem 3.2rem;
  border-radius: 9px;

  transition: transform 0.3s ease-in-out, box-shadow 0.3s linear;
}

.skills__item:hover {
  transform: translateY(-0.8rem);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.skills__item img {
  width: 15.2rem;
  height: 15.2rem;
  border-radius: 9px;
  margin-bottom: 1.6rem;
}

.skills__item:nth-child(1) {
  place-self: end;
}

.skills__item:nth-child(2) {
  place-self: center;
}

.skills__text {
  color: var(--text-secondary);
  text-align: center;
}

/* WORKS */

.work__item {
  display: grid;
  grid-template-columns: 25fr 75fr;
  gap: 3.2rem;
}

.work__img img {
  width: 100%;
}

.work__details {
  padding: 0.8rem;
}

.work__text {
  margin-bottom: 1.6rem;
}

.lnk--full:link,
.lnk--full:visited {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--bg);
  background-color: var(--primary);
  padding: 0.6rem 2.4rem;
  border-radius: 7px;

  margin-right: 1.6rem;

  transition: all 0.3s ease-in-out;
}

.lnk--full:hover,
.lnk--full:active {
  color: var(--primary);
  background-color: var(--bg);
  box-shadow: 0px 0px 0px 0.2rem var(--primary);
}
